.container {
  padding: 0 10px;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover,
a:link {
  text-decoration: none;
}
body {
  padding-top: 7rem;
}
.navbar>.container {
  margin-bottom: 0;
}
.navbar .navbar-header .navbar-brand {
  display: block;
  width: 12rem;
}
.navbar .navbar-header .navbar-brand img {
  width: 100%;
}
.navbar .navbar-collapse {
  float: left;
  margin-left: 5%;
}
.navbar .navbar-collapse .navbar-nav>li>a {
  color: #777;
}
.navbar .navbar-collapse .navbar-nav>li>a:hover,
.navbar .navbar-collapse .navbar-nav>li>a:link,
.navbar .navbar-collapse .navbar-nav>li>a:focus {
  /*color: #e9b257;*/
}
.navbar .navbar-collapse .navbar-nav > .open > a,
.navbar .navbar-collapse .navbar-nav > .open > a:focus,
.navbar .navbar-collapse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #e9b257;
}
.navbar .navbar-collapse .navbar-nav > .active > a,
.navbar .navbar-collapse .navbar-nav > .active > a:focus,
.navbar .navbar-collapse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #e9b257;
}
.navbar .navbar-collapse .navbar-nav .nav-second {
  min-width: 300px;
}
.navbar .navbar-collapse .navbar-nav .nav-second>ul {
  float: left;
  padding: 0 1.5rem;
}
.navbar .navbar-collapse .navbar-nav .nav-second>ul h4 {
  font-size: 1.6rem;
  color: #777;
}
.navbar .navbar-collapse .navbar-nav .nav-second>ul li a {
  line-height: 26px;
  font-size: 1.4rem;
  color: #fff;
}
.navbar .navbar-collapse .navbar-nav .nav-second>ul li a:hover {
  color: #333;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu {
  border: 0;
  background-color: #e9b257;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu > li > a {
  padding: 5px 15px;
  color: #fff;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu > li > a:hover {
  color: #777;
  background-color: #e9b257;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu>ul li a:hover {
  color: #777;
}
.navbar .nav .about-phone {
  display: none;
}

/**
 * 底部
*/
.footer {
  margin-top: 1rem;
}
.footer .pc-wrap {
  width: 100%;
  padding: 2rem 0;
  background-color: #444;
}
.footer .pc-wrap .container {
  width: 70%;
  margin: 0 auto;
}
.footer .pc-wrap .box>ul {
  float: left;
  width: 22%;
  text-align: center;
}
.footer .pc-wrap .box>ul h5 {
  font-size: 1.8rem;
  color: #fff;
}
.footer .pc-wrap .box>ul li {
  line-height: 2.4rem;
}
.footer .pc-wrap .box>ul li a {
  font-size: 1.4rem;
  color: #c1c1c1;
}
.footer .pc-wrap .box>ul li a:hover {
  color: #e9b257;
}
.footer .pc-wrap .box>div {
  float: left;
  width: 28%;
}
/*二维码*/
.footer .pc-wrap .pc-ewm {
  text-align: center;
}
.footer .pc-wrap .pc-ewm img {
  width: 160px;
  height: 160px;
}
.footer .pc-wrap .pc-ewm>p {
  padding: 5px 0;
  font-size: 14px;
  color: #c1c1c1;
}
/*手机*/
.footer .pc-wrap .pc-phone {
  margin-top: 3rem;
}
.footer .pc-phone>img {
  width: 100%;
}
.footer .p-phone-num {
  padding-top: 1rem;
  text-align: center;
  font-size: 24px;
}
.footer .p-phone-num>i {
  padding-right: 10px;
  font-size: 30px;
}
.footer .p-phone-num>a {
  color: #c1c1c1;
}
.footer .p-phone-num>a:hover {
  color: #e9b257;
}
.footer .pc-wrap .container>p {
  margin-top: 5px;
  text-align: center;
  font-size: 1.4rem;
  color: #c1c1c1;
}
.footer .container>p a {
  color: #c1c1c1;
}
.footer .container>p a:hover {
  color: #e9b257;
  text-decoration: underline;
}
/*
  移动端底部
*/
.footer .phone-wrap {
  display: none;
  padding-top: 1rem;
  -webkit-box-shadow: 3px 0 10px #c1c1c1;
  -moz-box-shadow: 3px 0 10px #c1c1c1;
  box-shadow: 3px 0 10px #c1c1c1;
}
.footer .phone-wrap>ul {
  width: 80%;
  margin: 0 auto;
}
.footer .phone-wrap .ewm {
  float: left;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
}
.footer .phone-wrap .ewm img {
  width: 100%;
}
.footer .phone-wrap .ewm p {
  margin: 0;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #000;
}
.footer .phone-wrap .phone {
  margin: 25px 0 0 10rem;
}
.footer .phone-wrap .phone a {
  font-size: 2rem;
  color: #000;
}
.footer .phone-wrap .phone i {
  width: 30px;
  color: #000;
}
.footer .phone-wrap>p {
  text-align: center;
  font-size: 12px;
}
/**
  侧边咨询框
**/
.side-bar {
  position: fixed;
  z-index: 99;
  top: 20%;
  right: 0;
}
.side-bar>ul {
  /*display: none;*/
}
.side-bar>ul>i {
  position: absolute;
  top: -20px;
  right: 5px;
  z-index: 9;
}
.side-bar li {
  position: relative;
  width: 64px;
  height: 72px;
  padding-top: 20px;
  margin-bottom: 2px;
  background-color: #c1c1c1;
}
.side-bar li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.side-bar li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.side-bar li:hover {
  background-color: #e9b257;
}
.side-bar li p {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("/cn/images/sidebar.png") 0 0 no-repeat;
}
.side-bar .side-wechat>p {
  background-position: -32px 0;
}
.side-bar .side-qq p {
  background-position: -64px 0;
}
.side-bar .side-tel>p {
  background-position: -96px 0;
}
.side-bar .side-arrow>p {
  background-position: -128px 0;
}
.side-bar li div {
  position: absolute;
  top: 0;
  right: 72px;
  display: none;
  padding: 12px 0;
  text-align: center;
  background-color: #c1c1c1;
  font-size: 12px;
  color: #fff;
}
.side-bar li div:after {
  position: absolute;
  display: block;
  content: '';
  top: 25px;
  right: -20px;
  border: 10px solid transparent;
  border-left-color: #c1c1c1;
}
.side-bar .side-wechat>div {
  width: 150px;
}
.side-bar .side-wechat img {
  width: 130px;
  height: 130px;
}
.side-bar .side-wechat span {
  display: block;
  margin: 10px 0 0 0;
  color: #fff;
}
.side-bar .side-qq div,
.side-bar .side-tel>div {
  width: 230px;
  height: 72px;
  line-height: 52px;
  font-size: 16px;
}
.side-bar .side-service>div i,
.side-bar .side-qq div i,
.side-bar .side-tel>div i {
  padding-right: 10px;
}

/*
  媒体查询
*/
@media screen and (min-width: 765px) and (max-width: 990px) {
  .navbar-form {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 6rem;
  }
  .navbar {
    margin-bottom: 10px;
  }
  .row {
    margin: 0 -1px;
  }
  .p-title {
    font-size: 2rem;
  }
  .p-wrap li {
    margin-bottom: 0.2rem;
  }
  .navbar .navbar-collapse {
    width: 100%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #e9b257;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-nav .open .dropdown-menu>ul>li>a {
    line-height: 20px;
  }
  .navbar-form {
    display: block;
  }
  .navbar-form .form-group {
    float: left;
  }
  .navbar .nav .about-pc{
    display: none;
  }
  .navbar .nav .about-phone {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .footer .pc-wrap {
    display: none;
  }
  .footer .phone-wrap {
    display: block;
  }
}
