.row {
  margin: 0 -3px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-xs-12 {
  padding: 0 1px 0;
}
.p-title {
  padding-left: 1rem;
  border-left: 6px solid #e9b257;
  line-height: 2.4rem;
  font-size: 2.4rem;
}
.bnr-wrap {
  width: 100%;
  height: 460px;
  background-color: #ccc;
  font-size: 14px;
}
.bnr-wrap:hover .bnr-arrow {
  display: block;
}
.bnr-wrap .swiper-slide {
  width: 100%;
  height: 100%;
}
.bnr-wrap .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.bnr-wrap .swiper-slide a img {
  width: 100%;
}
.bnr-wrap .swiper-pagination {
  bottom: 10px;
}
.bnr-wrap .bnr-arrow {
  display: none;
}
.p-wrap li {
  margin-bottom: 0.6rem;
}
.p-wrap li a {
  display: block;
}
.p-wrap li a>div {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ccc;
}
.p-wrap li a>div img {
  width: 100%;
  height: 100%;
}
.p-wrap li a:hover>div:after  {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  background-color: rgba(255,255,255,.2);
}
@media screen and (max-width: 767px) {
  .bnr-wrap {
    height: 200px;
  }
  .p-title {
    font-size: 2rem;
  }
  .p-wrap li {
    margin-bottom: 0.2rem;
  }
}
