@import "../css/mixin.styl";

.footer
  margin-top: 1rem
  .pc-wrap
    width: 100%
    padding: 2rem 0
    background-color: #444
    .container
      .box
        &>div
          float: left
          margin-top: 5rem
          width: 22%
          img
            width: 100%
          p
            padding-top: 1rem
            text-align: center
            font-size: 24px
            color: #fff
        &>ul
          //width: 12%
          float: left
          width: 13%
          text-align: center
          h5
            font-size: 1.6rem
            color: #c1c1c1
          li
            line-height: 2.4rem
            a
              font-size: 1.2rem
              color: #c1c1c1
              &:hover
                color: #e9b257
        .logo-wrap
          width: 20rem
          margin: 3rem 0 0 10%
          a
            display: block
          img
            width: 100%
      // 网站说明
      .web-description
        width: 60%
        margin: 20px auto 0
        font-size: 0
        li
          display: inline-block
          width: 25%
          text-align: center
          a
            font-size: 14px
            color: #c1c1c1
            &:hover
              color: #e9b257
      &>p
        margin-top: 5px;
        text-align: center
        font-size: 1.4rem
        color: #c1c1c1
  //移动端
  .phone-wrap
    display: none
    padding-top: 1rem
    box-shadow(3px 0 10px #c1c1c1)
    .ewm
      width: 8rem
      margin: 0 auto
      text-align: center
      img
        width: 100%
      p
        line-height: 2rem
        font-size: 1.4rem
        color: #000
    .phone
      text-align: center
      a
        font-size: 2rem
        color: #000
    &>p
      text-align: center
      font-size: 12px
@media screen and (max-width: 768px) {
  .footer .pc-wrap {
    display: none
  }
  .footer .phone-wrap {
    display: block
  }
}