<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../images/logo.png" alt="logo图标">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">黑白印刷<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">表格</a></li>
            <li><a href="#">文件</a></li>
            <li><a href="#">打码印刷</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">无碳复写三联单</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">柔板印刷<span class="caret"></span></a>
          <div class="dropdown-menu nav-second clearfix">
            <ul>
              <h4>纸质印刷</h4>
              <li><a href="">棉质</a></li>
              <li><a href="">纸杯</a></li>
              <li><a href="">纸盒</a></li>
              <li><a href="">纸袋</a></li>
              <li><a href="">食品包装袋</a></li>
              <li><a href="">纸箱</a></li>
            </ul>
            <ul>
              <h4>塑料材质印刷</h4>
              <li><a href="">塑料薄膜</a></li>
              <li><a href="">快递袋</a></li>
              <li><a href="">利乐包(牛奶包)</a></li>
              <li><a href="">无纺布</a></li>
              <li><a href="">纸塑复合材料</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">胶印<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">商标广告</a></li>
            <li><a href="#">宣传画册</a></li>
            <li><a href="#">地图画册</a></li>
            <li><a href="#">书刊封面</a></li>
            <li><a href="#">日历</a></li>
            <li><a href="#">年历</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">设计制作<span class="caret"></span></a>
          <div class="dropdown-menu nav-second clearfix">
            <ul>
              <h4>设计定制</h4>
              <li><a href="">奖牌</a></li>
              <li><a href="">PVC卡</a></li>
              <li><a href="">工作牌</a></li>
              <li><a href="">桌牌</a></li>
              <li><a href="">证书</a></li>
            </ul>
            <ul>
              <h4>图文输出</h4>
              <li><a href="">打印装订标书</a></li>
              <li><a href="">精装册</a></li>
              <li><a href="">喷绘</a></li>
              <li><a href="">写真</a></li>
              <li><a href="">条幅</a></li>
              <li><a href="">工程复印</a></li>
              <li><a href="">彩图输出</a></li>
              <li><a href="">数码蓝图</a></li>
              <li><a href="">设计名片</a></li>
              <li><a href="">宣传页</a></li>
              <li><a href="">画册</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">关于我们</a></li>
      </ul>
      <!--<form class="navbar-form navbar-left">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">GO</button>-->
      <!--</form>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>