RewriteEngine on
# If a directory or a file exists, use it directly
#RewriteCond %{HTTP_HOST} ^thinkusat\.com$ [NC]
#RewriteRule ^(.*)$ http://www.thinkusat.com/$1 [L,R=301]
#RewriteCond %{HTTP_HOST} ^sat.viplgw\.cn [NC]
#RewriteRule ^(.*)$ http://www.thinkusat.com/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php